/* src/styles/SignUp.module.css */

.signupPage {
  background-image: url('./../images/image-3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: #36393f; /* Discord dark background */
}

.signupContainer {
  background-color: #2f3136; /* Dark card background */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  margin: 40px 0;
  text-align: center;
}

h2 {
  text-align: center;
  color: #ffffff;
}

form, .messageContainer {
  display: flex;
  flex-direction: column;
}

label {
  color: #b9bbbe;
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #202225;
  color: white;
}

input:focus {
  outline: none;
  border: 1px solid #7289da;
}

.signupButton, .okButton {
  padding: 10px;
  background-color: #5865f2; /* Discord button color */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 15px;
}

.signupButton:hover, .okButton:hover {
  background-color: #4752c4; /* Darker button hover color */
}

.successMessage, .errorMessage {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.successMessage {
  color: #43b581; /* Discord green success color */
}

.errorMessage {
  color: #f04747; /* Discord red error color */
}
