/* src/styles/ForgotPassword.css */
.forgot-password-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  